[Unit]
Description=start zvrboot
After=network.target systemd-udevd.service
[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/etc/init.d/zstack/zstack-zvr-bootup.script
Restart=no
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target